@font-face {
  font-family: Quicksand;
  src: url('/theme_bringin/static/src/font/Quicksand.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro;
  src: url('/theme_bringin/static/src/font/SourceSansPro-Regular.ttf') format('truetype');
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Quicksand !important;
}

.one_two_col {
	img{
		border-radius:10px;
		max-width:100%;
		margin:1rem 0;
	}
	
	h1, h2, h3, h4, h5, h6{
	margin-top:1rem;
	}
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child{
	margin-top:0;
	}

}

.s_title .circle h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.s_title .circle {
  background: #683D98;
  border-radius: 300px;
  width: 516px;
  height: 516px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -310px;
  margin-left:auto;
  margin-right: 0px;

}

@media (max-width: 1199.98px) {

  .s_title .circle {
    width: 430px;
    height: 430px;
	margin-top:-310px;
	margin-right: -10px;
    h1 {
      font-size: 50px;
	  line-height:50px;
    }
  }
}


@media (max-width: 991.98px) {

  .s_title .circle {
    width: 300px;
    height: 300px;
	margin-top:-170px;
	margin-right: -10px;
    h1 {
      font-size: 50px;
	  line-height:50px;
    }
  }
}

@media (max-width: 575.98px) {

  .s_title .circle {
    width: 200px;
    height: 200px;
	margin-top:-120px;
	margin-right: 0px;
    h1 {
      font-size: 35px;
	  line-height: 35px;
	  
    }
  }
}


#wrapwrap:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 365px;
  background: url("/web/image/website.background") no-repeat top center
}

header {
	.navbar-brand.logo{
	margin-right:auto!important;
	}
	.navbar-brand.logo img {
      height: initial !important;
    }
	.main-logo img {
      height: initial !important;
    }
	
	
	
  button.navbar-toggler {
    border-radius: 40px;
    background: #ffffff;
    width: 80px;
    height: 80px;
	
	span{
		width:40px;
		height:40px;
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(104, 61, 152,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
	}
  }

  .navbar {
    background: transparent;
    color: #683D98;
	padding:0.5rem 0;
  }

  #top_menu_container {
    align-items: flex-start;

  }

  #top_menu_collapse {
    top: 0;
    position: absolute;
    background-color: #683D98;
    right: 0;
    left: 0;
    color: #ffffff;

    ul {
      margin: 20px auto 20px;
    }

    li.nav-item {
      padding: 5px 10px;

      .nav-link {
        color: #ffffff;
        font-family: Quicksand;
        font-weight: bold;
        font-size: 24px;
		line-height:29px;
      }

      .nav-link:hover {
        color: #FFD725;
      }
    }

    .o_offcanvas_logo_container {
      display: none;
    }

    li.o_offcanvas_menu_toggler {
      top: -10px;
      right: 15px;
      position: absolute;

      a {
        background: white;
        border-radius: 40px;
        height: 80px;
        width: 80px;
        padding: 0 !important;

        span {
          left: 21px;
          display: inline-block;
          position: absolute;
          top: 2px;
		  font-size:80px;
		  color:#683D98;
        }
      }
    }
  }

  .navbar #top_menu {
    position: relative;

  }
}

@media (max-width: 1199.98px) {
  #wrapwrap:before {
    top: -100px;
  }
  header {
    min-height: 265px;
  }

}

@media (max-width: 991.98px) {
	header .navbar-brand.logo img {
		max-height: 5rem!important;
	}
	header .main-logo img {
		max-height: 5rem!important;
	}

  #wrapwrap:before {
    top: -165px;
  }
  header {
    min-height: 200px;
	#top_menu_collapse{
		li.nav-item {
		padding:0 20px;
      .nav-link {
        font-size: 20px;
		
      }
	  }
	 li.o_offcanvas_menu_toggler {
      top: -10px;
      right: 15px;
      position: absolute;

      a {
        background: white;
        border-radius: 40px;
        height: 40px;
        width: 40px;
        padding: 0 !important;

        span {
          left: 10px;
          display: inline-block;
          position: absolute;
          top: 3px;
		  font-size:40px;
        }
      }
    }
	}
	button.navbar-toggler {
    border-radius: 40px;
    background: #ffffff;
    width: 40px;
    height: 40px;
	
	span{
		width:20px;
		height:20px;
	}
  }
	
  }
}


@media (max-width: 460px) {
	header .navbar-brand.logo img {
		max-height: 3rem!important;
	}
	header .main-logo img {
		max-height: 3rem!important;
	}
}

@media (max-width: 400px) {
	header .navbar-brand.logo img {
		max-height: 3rem!important;
	}
	header .main-logo img {
		max-height: 3rem!important;
	}
}


@media (max-width: 575.98px) {

  #wrapwrap:before {
    top: -200px;
  }
  header {
    min-height: 165px;
  }
}


@media (min-width: 992px) {

  header {
    

    .navbar #top_menu {
      flex-direction: row;
      flex-wrap: wrap !important;
    }


    #top_menu_collapse {
      top: 0;
      position: absolute;
      background-color: #683D98;
      right: 0;
      left: 0;
      color: #ffffff;
      ul {
        margin: 171px auto 205px;

        li.o_offcanvas_menu_toggler {
          top: -160px;
          right: 15px;
          position: absolute;
        }

        li.nav-item {
          padding: 10px;
          width: 29%;
        }
      }


    }

  }

}

@media (min-width: 576px) {
  #top_menu {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #top_menu {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #top_menu {
    max-width: 960px;
  }
    header{
    min-height: 365px;
  }

}

@media (min-width: 1200px) {
  #top_menu {
    max-width: 1140px;
  }
}















.big-menu-wide {
  background: #FFD725;
  padding: 80px 0 57px 0;

  .item-wrapper {
    margin-bottom: 33px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #683D98;
    border-radius: 10px;
    text-decoration: none;
    height: 100%;
	position: relative;
	top:0;
	transition:top 0.2s;
	img{
		border-radius: 10px 10px 0 0;
	}
    .title {
      font-family: Quicksand;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      margin: 22px 29px;
    }

    button {
	  font-family: Quicksand;
      border: 2px solid #FFD725;
      box-sizing: border-box;
      border-radius: 50px;
      background: transparent;
      color: white;
      margin: auto 29px 22px;
      padding: 2px 30px;
	  text-transform: uppercase;
	  font-size:14px;
	  font-weight: bold;
    }

    img {
      width: 100%
    }
  }

  .item:hover {
    top: -10px;
    text-decoration: none;
	transition:top 0.2s;

    button {
      background: #FFD725;
      color: #683D98;
    }

    box-shadow: 0px 10px 10px 0px #683D9833;


  }
}

.big-menu-normal {
  padding: 80px 0;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #683D98;
    border-radius: 10px;
    text-decoration: none;
    height: 160px;
    margin-bottom: 33px;
    padding: 0 20px;
    color: #ffffff;
	position: relative;
	top:0;
    .img {
      width: 75px;
      min-width: 75px;
      margin-right: 20px;
      text-align: center;

      svg {
        max-height: 75px;
        max-width: 75px;

      }
    }

    .title {
      font-family: Quicksand;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .item:hover {
    position: relative;
    top: -10px;
    text-decoration: none;
    background: #FFD725;
    color: #683D98;
    box-shadow: 0px 10px 10px 0px #683D9833;
	transition:top 0.2s;
    svg {
      height: 75px;

      path {
        fill: #683D98;
      }
    }

  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .big-menu-normal .item .title {
    font-size: 26px;

  }
}

header .nav-link{
	white-space:initial!important;
}

@media (min-width: 992px) {
#top_menu .nav-item:nth-child(1) { order: 0; }
#top_menu .nav-item:nth-child(2) { order: 1; width:42%}
#top_menu .nav-item:nth-child(3) { order: 4; width:42%}
#top_menu .nav-item:nth-child(4) { order: 7; width:42%}
#top_menu .nav-item:nth-child(5) { order: 2; }
#top_menu .nav-item:nth-child(6) { order: 5; }
#top_menu .nav-item:nth-child(7) { order: 8; }
#top_menu .nav-item:nth-child(8) { order: 3; }
#top_menu .nav-item:nth-child(9) { order: 6; }
#top_menu .nav-item:nth-child(10) { order: 9; }

}