$o-brand-primary: #108185;
$o-theme-font-configs: (
        'Quicksand': (
                'family': ('Quicksand', sans-serif),
                'url': 'Roboto:300,300i,400,400i,500,500i,700,700i',
        ),
);

$o-website-values-palettes: (
        (
                'font': 'Quicksand',
                'headings-font': 'Quicksand',
                'navbar-font': 'Quicksand',
                'buttons-font': 'Quicksand',
        ),
);

$headings-font-weight: 700 !default;


$o-bg-shapes: map-merge($o-bg-shapes,
        (
                'illustration': map-merge(
                                map-get($o-bg-shapes, 'illustration') or (),
                                (
                                        'circles/01': ('position': center center, 'size': auto 100%, 'colors': (1), 'repeat-x': false, 'repeat-y': false),
                                ),
                ),
        )
);

$card-border-radius: 10px;